<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
    <h1 class="display-3">Eventbrite</h1>
    <p>Conferences, parties, meetups... Organize your event around the world !</p>
    <%= link_to "Create your event", new_event_path, class:"btn btn-primary btn-lg" %>
</div>
</div>
<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
<% @allevents.each do |event| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.description %><br/>
        <p><%= link_to "Voir event", event_path(event.id), :class => "btn btn-primary" %></p>
      </div>
    </div>
<% end %>
